streamlit
groq
python-dotenv
pip
attrs
distro
wheel
protobuf
cryptography
pillow
tornado
Jinja2
filelock
nltk
click
pdfplumber
docx
python-docx
scikit-learn
transformers
faiss-cpu
pandas
torch
Flask
sentence-transformers
PyPDF2
fpdf
pytesseract
opencv-python
numpy







