streamlit
groq
python-dotenv
pip
attrs
distro
wheel
protobuf
cryptography
pillow
tornado
Jinja2
filelock
nltk
click
pdfplumber
docx
python-docx
sklearn
scikit-learn
transformers
faiss-cpu
pandas
torch
Flask